* {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

#nav-title {
  font-family: "Audiowide", cursive;
  font-size: 45px;
  font-weight: bold;
}

.nav-buttons {
  font-size: 30px;
  font-weight: bold;
}

.main {
  padding-top: 15px;
  padding-bottom: 50px;
}

p {
  margin-bottom: 0;
  font-size: 20px;
}

.conf p {
  margin-bottom: 0;
  font-size: 25px;
}

.conf {
  max-width: 1050px;
  padding-top: 30px;
}

.info .row {
  margin-bottom: 15px;
  margin-right: 0px;
}

/*.info-bg {
  background-color: rgb(230, 230, 230);
}*/

p.bold {
  font-weight: bold;
}

#map {
  height: 400px;
}

.text-center {
  text-align: center;
}

.text-break {
  word-break: break-all;
}

.button-style {
  font-weight: bold;
  font-size: 1.3rem;
}